/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden; /* Remove barra horizontal */
}

.logo{
        background-image: url(/Img/logo\ preta.svg); /* Caminho da imagem */
        background-size: contain; /* Faz a imagem cobrir toda a área do cabeçalho */
        background-position: center; /* Centraliza a imagem */
        background-repeat: no-repeat; /* Evita repetição da imagem */
        height: 500px; /* Define a altura do cabeçalho (ajuste conforme necessário) */
        width: 100%; /* Garante que ocupe toda a largura da página */
        text-align: center; /* Centraliza o texto horizontalmente */
        line-height: 100px;
        margin: 0%; /* Centraliza o texto verticalmente, ajustando à altura */
        position: relative;
        }

/* Cabeçalho */
.titulo {
    text-align: center;
    padding: 20px;
    background-color: #20232a;
    color: #fff;
    
}

.titulo h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.titulo p {
    font-size: 1.2rem;
}

/* Calendário */
.tabela {
    margin: 20px auto;
    max-width: 900px;
}

.table {
    border-collapse: collapse;
    background-color: #fff;
}

.table-hover tbody tr:hover {
    background-color: #f7f7f7;
    color: #f57c00; /* Cor no hover */
    transform: scale(1.02); /* Leve aumento no tamanho */
    transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease;
}

.table-hover tbody td {
    font-size: 1rem;
    transition: font-size 0.2s ease;
}

.table-hover tbody tr:hover td {
    font-size: 1.1rem; /* Aumenta a fonte ao passar o mouse */
}

.table-dark th {
    background-color: #333;
    color: #fff;
}
